body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.caption-box {
  margin: 27px 40px 0 40px;
  color: white;
}

.cred-text {
  text-align: right;
  margin: 8px 40px 0 0;
  color: white;
}

.background {
  background-color: black;
}

.divider {
  border-color: #696969;
}